{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
              <form action="/DrivingLicence" method="POST">
                  <h3 class="mt-4">Add new licence</h3>
                  {% if newDrivingLicence == True %}
                <p>Driving Licence added successfully </p>
                    {% elif newDrivingLicence == False %}
                        <p>Driving Licence already exist </p>
                    {% else %}
                    {% endif %}
               <div class="mb-3">
                     <select class="form-select" aria-label="Default select example" name="driver">
                              <option selected>Select Driver</option>
                         {%for i in range(0, LenUser)%}
                           <option value={{Users[i]['BID']}}>{{Users[i]['NAME']}}</option>
                          {%endfor%}
                     </select>
                  </div>
                  <div class="mb-3">
                       <label for="expireDate" class="form-label"></label>
                      <input type="date" class="form-control" id="expireDate" name="expireDate" placeholder="Enter Expire Date">
                  </div>
                  <button type="submit" class="btn btn-primary">add licence</button>
              </form>
        </div>
        <div class="col-md-8">
            <table class="table">
                  <h3 class="mt-4">Existing Licences</h3>
  <thead>
    <tr>
      <th scope="col">Driver Name</th>
      <th scope="col">Licence Number</th>
      <th scope="col">Expire Date</th>
    </tr>
  </thead>
  <tbody>
  {%for i in range(0, LenDrivingLicences)%}
    <tr>
      <th scope="row">{{DrivingLicences[i]['NAME']}}</th>
      <td>{{DrivingLicences[i]['NUMMER']}}</td>
      <td>{{DrivingLicences[i]['ABLAUFDATUM']}}</td>
    </tr>
  {%endfor%}
  </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}