{% extends "base.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
              <form action="/Journey" method="POST">
                  <h3 class="mt-4">Add new journey</h3>
                  {% if newUserStatus == True %}
                <p>journey added successfully </p>
                    {% elif Status == False %}
                        <p>journey already exist </p>
                    {% else %}
                    {% endif %}
              <div class="row">
                  <div class="col-md-6">
                      <div class="mb-3">
                              <label for="startort" class="form-label"></label>
                              <input type="text" class="form-control" id="startort" name="startort" placeholder="Enter startort">
                      </div>
                      <div class="mb-3">
                          <label for="zielort" class="form-label"></label>
                          <input type="text" class="form-control" id="zielort"  name="zielort" placeholder="Enter zielort">
                      </div>
                       <div class="mb-3">
                           <div class="row">
                               <div class="col-md-8">
                                   <label for="fahrtdatum" class="form-label"></label>
                                   <input type="date" class="form-control" id="fahrtdatum" name="fahrtdatum" placeholder="Enter fahrtdatum">
                               </div>
                               <div class="col-md-4">
                                   <label for="fahrtzeit" class="form-label"></label>
                                   <input type="time" class="form-control" id="fahrtzeit" name="fahrtzeit" placeholder="Enter fahrtzeit">
                               </div>
                           </div>
                       </div>
                      <div class="mb-3">
                          <label for="maxPlaetze" class="form-label"></label>
                          <input type="text" class="form-control" id="maxPlaetze"  name="maxPlaetze" placeholder="Enter maxPlaetze">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3">
                              <label for="fahrtkosten" class="form-label"></label>
                              <input type="text" class="form-control" id="fahrtkosten" name="fahrtkosten" placeholder="Enter fahrtkosten">
                      </div>
                      <div class="mb-3">
                          <select class="form-select" aria-label="Default select example" name="anbieter">
                              <option selected>Select anbieter</option>
                         {%for i in range(0, LenUser)%}
                           <option value={{Users[i]['BID']}}>{{Users[i]['NAME']}}</option>
                          {%endfor%}
                         </select>
                      </div>
                      <div class="mb-3">
                           <select class="form-select" aria-label="Default select example" name="transportmittel">
                              <option selected>Select transportmittel</option>
                             {%for i in range(0, LenRide)%}
                               <option value={{TempRide[i]['TID']}}>{{TempRide[i]['NAME']}}</option>
                              {%endfor%}
                          </select>
                      </div>
                      <div class="mb-3">
                          <label for="beschreibung" class="form-label"></label>
                          <input type="text" class="form-control" id="beschreibung"  name="beschreibung" placeholder="Enter beschreibung">
                      </div>
                  </div>
              </div>
                  <button type="submit" class="btn btn-primary">add journey</button>
              </form>
        </div>
        <div class="col-md-12">
            <table class="table">
                  <h3 class="mt-4">Journey Offers</h3>
              <thead>
                <tr>
                  <th scope="col">Journey ID</th>
                    <th scope="col">from</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Max Place</th>
                    <th scope="col">Ride Cost</th>
                    <th scope="col">Status</th>
                    <th scope="col">Provider</th>
                    <th scope="col">Ride Type</th>
                    <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
              {%for i in range(0, LenTemp)%}
                <tr>
                  <th scope="row">{{TempList[i]['FID']}}</th>
                 <th scope="row">{{TempList[i]['STARTORT']}}</th>
                 <th scope="row">{{TempList[i]['ZIELORT']}}</th>
                 <th scope="row">{{TempList[i]['FAHRTDATUMZEIT']}}</th>
                 <th scope="row">{{TempList[i]['MAXPLAETZE']}}</th>
                 <th scope="row">{{TempList[i]['FAHRTKOSTEN']}}</th>
                 <th scope="row">{{TempList[i]['STATUS']}}</th>
                 <th scope="row">{{TempList[i]['BNAME']}}</th>
                 <th scope="row">{{TempList[i]['TNAME']}} <img src="{{url_for('static', filename=TempList[i]['ICON'])}}" alt="" style="width: 20%"></th>
                 <th scope="row">{{TempList[i]['BESCHREIBUNG']}}</th>

                </tr>
              {%endfor%}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}