{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                  <h3 class="mt-4">Existing Rides</h3>
  <thead>
    <tr>
      <th scope="col">Ride ID</th>
      <th scope="col">Ride Name</th>
      <th scope="col">Ride Icon</th>
    </tr>
  </thead>
  <tbody>
  {%for i in range(0, LenTemp)%}
    <tr>
      <th scope="row">{{TempList[i]['TID']}}</th>
      <td>{{TempList[i]['NAME']}}</td>

          <td><img src="{{url_for('static', filename=TempList[i]['ICON'])}}" alt="" style="width: 40%"></td>
    </tr>
  {%endfor%}
  </tbody>
</table>
        </div>
    </div>
</div>
{% endblock %}